<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="https://adm-board.s3.eu-west-2.amazonaws.com/faculty.png">
    <title th:text="#{label.account}"></title>
    <link rel="stylesheet" th:href="@{/assets/css/main.css}"/>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <noscript>
        <link rel="stylesheet" th:href="@{/assets/css/noscript.css}"/>
    </noscript>
</head>
<body class="landing is-preload">
<div id="page-wrapper">
    <div th:insert="~{fragments::header}"></div>
    <section id="banner">
        <div class="inner">
            <h2 th:text="#{label.account}">Hello</h2>
        </div>
        <a href="#one" th:text="#{label.learnMore}" class="more scrolly">Learn More</a>
    </section>

    <article id="main">
        <section class="wrapper style5">
            <div class="inner">
                <h2 th:text="#{label.account}"></h2>
                <br><br>
                <div class="row">

                    <table class="alt">
                        <tbody>
                        <tr>
                            <td th:text="#{label.yourName}"></td>
                            <td th:text="${account.fullName}"></td>
                        </tr>
                        <tr>
                            <td th:text="#{label.person.email}"></td>
                            <td th:text="${account.email}"></td>
                        </tr>
                        <tr>
                            <td th:text="#{label.faculty}"></td>
                            <div th:if="${account.faculty != null}">
                                <div th:if="__${#locale}__=='ru'">
                                    <td th:text="${account.faculty.ruName}"></td>
                                </div>
                                <div th:if="__${#locale}__!='ru'">
                                    <td th:text="${account.faculty.name}"></td>
                                </div>
                            </div>
                            <div th:if="${account.faculty == null}">
                                <td th:text="#{label.notRegisteredToFaculty}"></td>
                            </div>
                        </tr>
                        <div th:if="${account.faculty != null}">
                            <tr>
                                <td th:text="#{label.yourScore}"></td>
                                <td th:text="${account.score}"></td>
                            </tr>
                            <tr>
                                <td th:text="#{label.request.status}"></td>
                                <div th:if="${account.status.name() == 'CONFIRMED'}">
                                    <td style="color: green" th:text="#{label.confirmed}"></td>
                                </div>
                                <div th:if="${account.status.name() == 'IN_PROCESS'}">
                                    <td style="color: yellow" th:text="#{label.inProcess}"></td>
                                </div>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                    <br><br>
                    <br><br>

                    <div class="row gtr-uniform">
                        <div class="col-3">
                            <a  th:class="button" th:href="@{/}" class="button" th:text="#{label.menu.home}"></a>
                        </div>
                        <div class="col-4"></div>
                        <div th:if="${account.faculty != null}">
                            <div class="col-4">
                                <a th:href="@{/applicant/dismiss}" th:text="#{label.withdrawApplication}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div th:insert="~{fragments::footer}"></div>
    </article>
</div>


<div th:insert="~{fragments::scripts}"></div>
</body>
</html>