<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{label.admin.menu}"></title>
    <link rel="stylesheet" th:href="@{/assets/css/main.css}"/>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <noscript>
        <link rel="stylesheet" th:href="@{/assets/css/noscript.css}"/>
    </noscript>
    <link rel="icon" href="https://adm-board.s3.eu-west-2.amazonaws.com/faculty.png">
</head>
<body class="landing is-preload">
<div id="page-wrapper">
    <div th:insert="~{fragments::header}"></div>
    <section id="banner">
        <div class="inner">
            <h2 th:text="#{label.admin.menu}"></h2>
            <a href="#one" class="more scrolly" th:text="#{label.fill}">Go</a>
        </div>
    </section>
    <article id="main">
        <section class="wrapper style3">
            <div class="inner">
                <div class="row">
                    <div class="col-2">
                        <a th:href="@{/admin/applicants}" th:text="#{applicants.name}"></a>
                        <a th:href="@{/admin/subjects}" th:text="#{label.subjects.name}"></a>
                        <a th:href="@{/admin/faculties}" th:text="#{label.admin.faculties}"></a>
                    </div>
                    <div class="col-10">
                        <header class="major">
                            <h2 th:utext="${message}"></h2>
                        </header>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <a th:href="@{/}" class="button" th:text="#{label.menu.home}"></a>
                    </div>
                </div>

            </div>
        </section>
    </article>
</div>

<div th:insert="~{fragments::footer}"></div>
<div th:insert="~{fragments::scripts}"></div>
</body>
</html>