<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="ISO-8859-1">
    <title th:text="${faculty.name}"></title>
    <link rel="stylesheet" th:href="@{/assets/css/main.css}"/>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <noscript>
        <link rel="stylesheet" th:href="@{/assets/css/noscript.css}"/>
    </noscript>
    <link rel="stylesheet" type="text/css"
          href="chrome-extension://inlgdellfblpplcogjfedlhjnpgafnia/styles.css"/>
    <link rel="icon" href="https://adm-board.s3.eu-west-2.amazonaws.com/faculty.png">
</head>
<body class="landing is-preload">
<div id="page-wrapper">
    <div th:insert="~{fragments::header}"></div>

    <article id="main">
        <section id="banner">
            <div class="inner">
                <h2 th:text="${faculty.name}">Choose Your Specialty</h2>
                </ul>
                <a href="#one" class="more scrolly" th:utext="#{lable.choose}">Choose...</a>
            </div>
        </section>
        <section id="one" class="wrapper style5 ">
            <h2 th:align="center" th:text="${faculty.name}"></h2>
            <br><br>
            <div th:if="${faculty.isAvailable()}">
                <h3 th:align="center" th:text="#{label.available.faculty}"></h3>
            </div>
            <div th:if="${!faculty.isAvailable()}">
                <h3 th:align="center" th:text="#{label.closed.recruiting}"></h3>
            </div>
            <div th:if="${faculty.isAvailable()}">
                <br><br>
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-8">
                        <table class="alt">
                            <tbody>
                            <tr>
                                <td th:text="#{label.apply.period}"></td>
                                <td th:text="${#temporals.format(faculty.expiredDate.atZone(zone.toZoneId()), 'd MMMM HH:mm')}"></td>
                            </tr>
                            <tr>
                                <td th:text="#{faculty.info.capacity}">
                                <td th:text="${faculty.capacity}"></td>
                            </tr>
                            <tr>
                                <td th:text="#{faculty.info.averageScore}"></td>
                                <td th:text="${faculty.averageScore}"></td>
                            </tr>
                            <tr>
                                <td th:text="#{faculty.info.remainingPlace}"></td>
                                <td th:text="${(faculty.capacity - faculty.countApplicants) < 1} ?
                                    #{label.competition} : ${faculty.capacity - faculty.countApplicants}"></td>
                            </tr>
                            <tr th:with="time=${faculty.updateTime}">
                                <td th:text="#{faculty.info.lastUpdate}"></td>
                                <td th:text="${#temporals.format(time, 'd MMMM HH:mm')}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-4">
                        <div th:if="${!faculty.subjects.isEmpty()}">
                            <div class="col-2">
                                <h3 th:text="#{label.reqired.subjects}"></h3>
                                <br><br>
                                <ul th:each="subject: ${faculty.subjects}">
                                    <li th:text="${subject.name}"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-4">
                        <a class="button" th:href="@{/view}" th:text="#{label.back.faculties}"></a>
                    </div>
                    <div class="col-2"></div>
                    <div class="col-4">
                        <form th:action="@{/applicant/faculty}" method="post">
                            <input type="hidden" name="facId" th:value="${faculty.id}">
                            <td>
                                <button class="button primary" type="submit" th:text="#{label.apply}"></button>
                            </td>
                        </form>
                    </div>
                </div>
            </div>
            <div th:if="${!faculty.isAvailable()}">
                <br><br>
                <h3 th:align="center" th:text="#{label.we.can.notify.you}"></h3>
                <br><br>  <br><br>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-4"></div>
                    <div class="col-4">
                        <form th:action="@{/view/faculty}" method="post">
                            <input type="hidden" th:name="facultyId" th:value="${faculty.id}">
                            <button type="submit" th:text="#{label.notifyme}"></button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </article>
</div>
</div>
</div>
</div>
<div th:insert="~{fragments::footer}"></div>
<div th:insert="~{fragments::scripts}"></div>
</body>
</html>