<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{label.faculty}"></title>
    <link rel="stylesheet" th:href="@{/assets/css/main.css}"/>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <noscript>
        <link rel="stylesheet" th:href="@{/assets/css/noscript.css}"/>
    </noscript>
    <link rel="icon" href="https://adm-board.s3.eu-west-2.amazonaws.com/faculty.png">
</head>
<body class="landing is-preload">
<div id="page-wrapper">
    <div th:insert="~{fragments::header}"></div>
    <section id="banner">
        <div class="inner">
            <h2 th:text="#{label.fillTheForm}">Hello</h2>
        </div>
        <a href="#one" th:text="#{label.learnMore}" class="more scrolly">Learn More</a>
    </section>
    <article id="main">
        <section class="wrapper style3">
            <div class="inner">
                <div th:if="${message !=null}">
                    <header th:text="${message}"></header>
                </div>
                <br><br>
                <h2 th:align="center" th:text="#{label.announce}"></h2>
                <form method="post" th:action="@{/admin/facultyInfo}" th:object="${faculty}">
                    <br><br>
                    <input type="hidden" th:name="faculty.id" th:value="${facultyId}">
                    <div class="row">
                        <div class="col-6">
                            <label for="capacity" th:text="#{faculty.info.capacity}">first</label>
                            <input id="capacity" th:value="${faculty.capacity}" required type="number"
                                   th:field="*{capacity}"/>
                            <th:block th:each="error : ${#fields.errors('capacity')}"
                                      th:text="#{error.invalid.name}">Validation error
                            </th:block>
                        </div>
                        <div class="col-6">
                            <label for="expiredTime" th:text="#{faculty.info.expiredTime}">first</label>
                            <input id="expiredTime" th:value="${faculty.expiredDate}" required
                                   type="datetime-local"
                                   th:field="*{expiredDate}"/>
                            <th:block th:each="error : ${#fields.errors('expiredDate')}"
                                      th:text="#{error.invalid.name}">Validation error
                            </th:block>

                        </div>
                    </div>
                    <br><br> <br><br>
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <button type="submit" class="button primary" th:text="#{label.announce}"></button>
                        </div>
                    </div>
                </form>
                <br><br>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <a th:href="@{/admin/faculties}" th:text="#{label.back.faculties}"></a>
                    </div>
                </div>


        </section>
    </article>
</div>

<div th:insert="~{fragments::footer}"></div>
<div th:insert="~{fragments::scripts}"></div>
</body>
</html>