<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
    <link rel="stylesheet" th:href="@{/assets/css/main.css}"/>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <link rel="stylesheet" th:href="@{/assets/css/noscript.css}"/>
    <link rel="stylesheet" type="text/css"
          href="chrome-extension://inlgdellfblpplcogjfedlhjnpgafnia/styles.css"/>
</head>
</head>
<body class="landing is-preload">
<div id="page-wrapper">
    <div th:insert="~{fragments::header}"></div>
    <article id="main">
        <header>
            <h2 th:text="${faculty.name}"></h2>
        </header>

        <section class="wrapper style5 " >
            <div class="row">
                <div class="col-2">
                </div>
                <div class="col-8" style="background-color: white">
                    <div class="inner border border-1">
                        <div class="row">
                            <div class="col-5">
                                <h3 th:text="#{label.lastTime.update}"></h3>
                                <p th:text="${#temporals.format(faculty.updateTime, 'd-MMMM HH:mm')}"></p>

                                <h3 th:text="#{faculty.info.averageScore}"></h3>
                                <p th:text="${faculty.averageScore}"></p>
                                <h3 th:text="#{faculty.info.capacity}"></h3>
                                <p th:text="${faculty.capacity}"></p>
                            </div>
                            <div class="col-3"></div>
                            <div class="col-4">
                                <h3 th:text="#{label.reqired.subjects}"></h3>
                                <ul th:each="s:${faculty.subjects}">
                                    <li th:text="${s.name}"></li>
                                </ul>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                </div>
            </div>
            <br><br>
            <button th:href="@{'applicant/faculty/' + ${faculty.id}}" type="button" th:text="#{label.join}">
        </section>

    </article>
</div>
</div>


</div>
</div>
<div th:insert="~{fragments::footer}"></div>
<div th:insert="~{fragments::scripts}"></div>
</body>
</html>