<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{label.menu.home}"></title>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no"/>

    <link rel="stylesheet" th:href="@{/assets/css/main.css}"/>
    <noscript>
        <link rel="stylesheet" th:href="@{/assets/css/noscript.css}"/>
    </noscript>
    <link rel="icon" href="https://adm-board.s3.eu-west-2.amazonaws.com/faculty.png">
</head>
<body class="landing is-preload">
<!-- Page Wrapper -->
<div id="page-wrapper">

    <!-- Header -->
    <div th:insert="~{fragments::header}"></div>

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <h2 th:text="#{label.hello}">Hello</h2>
        </div>
        <a href="#one" th:text="#{label.learnMore}" class="more scrolly">Learn More</a>
    </section>

    <!-- One -->
    <section id="one" class="wrapper style3 special">
        <div class="inner">
            <header class="major">
                <h1 th:text="#{index.myProject}">Project by Artsyom Tsimerbayeu</h1>
                <br/>
                <h2 th:text="#{index.welocome}">Welcome to the best University in the World!</h2>
                <br/>
                <h3 th:text="#{project.name}">Admissions Board</h3>

            </header>
            <ul class="icons major">
                <li><span class="icon fa-gem major style1"><span
                        class="label">Lorem</span></span></li>
                <li><span class="icon fa-gem major style1"><span
                        class="label">Lorem</span></span></li>
                <li><span class="icon fa-gem major style1"><span
                        class="label">Lorem</span></span></li>
            </ul>
        </div>
    </section>

    <section class="spotlight">
        <div class="image">
            <img th:src="@{images/subjects.jpg}">
        </div>
        <div class="content">
            <h2>
                <p th:text="#{label.faculties}"> Our Faculties </p><br/>
            </h2>
            <div th:if="__${#locale}__!='ru'">
                <p>We help students achieve academic excellence in a diverse range
					of disciplines and fields – through our excellent faculties.</p>
            </div>
			<div th:if="__${#locale}__=='ru'">
				Мы поможем студентам достичь академических высот в дисциплинах и сферах с помощью наших замечательных факультетов
			</div>
        </div>
    </section>


    <section class="spotlight">
        <div class="image">
            <img th:src="@{images/teachers.jpg}" alt=""/>
        </div>
        <div class="content">
            <h2 th:text="#{label.teachers}">
                Our Teachers<br/>
            </h2>
			<div th:if="__${#locale}__=='ru'">
				<p>Наши учителя - команда профессионалов высокого уровня, владеющая передовыми образовательными технологиями.</p>
			</div>
			<div th:if="__${#locale}__!='ru'">
				<p>Our teachers are a team of high-level professionals who own advanced educational technologies.</p>
			</div>

        </div>
    </section>
    <!-- Footer -->
    <div th:insert="~{fragments::footer}"></div>

</div>

<!-- Scripts -->
<div th:insert="~{fragments::scripts}"></div>

</body>
</html>