<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{subject.name}"></title>
    <link rel="stylesheet" th:href="@{/assets/css/main.css}"/>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <noscript>
        <link rel="stylesheet" th:href="@{/assets/css/noscript.css}"/>
    </noscript>
    <link rel="icon" href="https://adm-board.s3.eu-west-2.amazonaws.com/faculty.png">
</head>
<body class="landing is-preload">
<div id="page-wrapper">
    <div th:insert="~{fragments::header}"></div>
    <section id="banner">
        <div class="inner">
            <h2 th:text="#{label.fillTheForm}">Hello</h2>
        </div>
        <a href="#one" th:text="#{label.learnMore}" class="more scrolly">Learn More</a>
    </section>
    <article id="main">
        <section class="wrapper style3">
            <div class="inner">
                <div th:if="${message !=null}">
                    <header th:text="${message}"></header>
                </div>
                <br><br>
                <form method="post" th:action="@{/admin/subject}" th:object="${subject}">
                    <header th:align="center" th:text="#{label.enter.subjectName}"></header>
                    <br><br>
                    <div class="row">
                        <div class="col-6">
                            <label for="subjectRu" th:text="#{label.subjectRuName}">first</label>
                            <input
                                    required type="text" id="subjectRu"
                                    th:value="${subject?.ruName}" th:field="*{ruName}"/>
                            <th:block th:each="error : ${#fields.errors('ruName')}"
                                      th:text="#{error.invalid.name}">Validation error
                            </th:block>
                        </div>
                        <div class="col-6">
                            <label for="subjectEn" th:text="#{label.subjectEnName}">first</label>
                            <input id="subjectEn" th:value="${subject.name}" required type="text"
                                   th:field="*{name}"/>
                            <th:block th:each="error : ${#fields.errors('name')}"
                                      th:text="#{error.invalid.name}">Validation error
                            </th:block>
                        </div>
                    </div>
                    <br><br>
                    <div th:if="${subject.id == null}">
                        <button class="button" type="submit" th:text="#{label.create}"></button>
                    </div>
                    <div th:if="${subject.id != null}">
                        <button class="button" type="submit" th:text="#{label.edit}"></button>
                    </div>
                </form>
                <br><br>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <a th:href="@{/admin/subjects}" th:text="#{label.back.subject}"></a>
                    </div>
                </div>

            </div>
        </section>
    </article>
</div>

<div th:insert="~{fragments::footer}"></div>
<div th:insert="~{fragments::scripts}"></div>
</body>
</html>